<ion-content padding class="guide-modal">

    <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
    <!-- <div *ngIf="isPayNow " style="display: flex;justify-content: space-around;">
        <button ion-button  (click)="activateVehicles()" style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
        <span>Pay Now</span>
        </button>
        <button ion-button (click)="supportCall()" style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
         <ion-icon ios="ios-call" md="md-call" style="color: white;"></ion-icon>Support
       </button>
      </div>
      <div *ngIf="d.expiration_date < now" style="position: relative">
        <div (click)="activateVehicle(d)">
          <ion-item style="background-color: black">

            <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)" (click)="selected($event,d)">
              <img *ngIf="d.iconType === 'jjcb'" width='30px' style="margin-left: 10px;" src={{devIcon}}>
              <img *ngIf="!isSelected(d)" width='20px' style="margin-left: 10px;" src={{devIcon}}>
              <img *ngIf="isSelected(d)" width='20px' style="margin-left: 10px;" src="assets/imgs/cheackright.png">
                <ion-icon ios="ios-add-circle" md="md-add-circle" *ngIf="selectedArray.length > 0" style="color: white; font-size: 20px;"></ion-icon> -->
           <!-- </ion-avatar>
            <div>
              <h2 style="color: gray">{{ d.Device_Name }}</h2>
              <p style="color:gray;font-size: 10px;font-weight: 400;margin:0px;" ion-text text-wrap>
                <span style="text-transform: uppercase; color: red;">{{ d.status }}
                </span>
                <span *ngIf="d.status_updated_at">{{ "since" | translate }}&nbsp;{{
                  d.status_updated_at | date: "medium"
                }}
                </span>
              </p>
            </div>
          </ion-item>
        </div>
      </div> -->

    <div>
        <p style="text-align: center; font-size: 2rem">
            <b>{{'Device Expired!' | translate}}</b>
        </p>
        <p>
            <button ion-button block outline color="secondary" (tap)="activate()">{{'Activate' | translate}}</button>
        </p>
    </div>
</ion-content>