<ion-header>
  <ion-navbar>
    <ion-title>{{ "Documents" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="_addDocument()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="_docTypeList.length > 0">
    <ion-item *ngFor="let doc of _docTypeList" (click)="viewDocFunc(doc)">
      <ion-avatar item-start>
        <img *ngIf="doc.docname == 'RC'" src="assets/imgs/rc.png">
        <img *ngIf="doc.docname == 'PUC'" src="assets/imgs/puc.png">
        <img *ngIf="doc.docname == 'Insurance'" src="assets/imgs/insurence.png">
        <img *ngIf="doc.docname == 'Licence'" src="assets/imgs/dl.png">
        <img *ngIf="doc.docname == 'Fitment'" src="assets/imgs/rc.png">
        <img *ngIf="doc.docname == 'Permit'" src="assets/imgs/rc.png">
      </ion-avatar>
      <h1>{{doc.docname}}</h1>
      <p>{{ "Expire On*" | translate }} &nbsp;
        <span *ngIf="doc.expDate != 'N/A'">{{doc.expDate | date:'mediumDate'}}</span>
        <span *ngIf="doc.expDate == 'N/A'">{{doc.expDate}}</span>
      </p>
      <button ion-button item-end small icon-only color="gpsc" (click)="presentPopover($event, doc); $event.stopPropagation()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="_docTypeList.length == 0">
    <ion-card-content>
      {{ " No doucments uploaded yet... Upload documents of your vehicle by pressing above + button" | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>

