<ion-header>
    <ion-navbar>
        <ion-title>{{'Provider Info' | translate}}</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="div">
        <img src="assets/imgs/dummy_user.jpg">
    </div>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>{{'Name' | translate}}</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{sorted.first_name}}&nbsp;{{sorted.last_name}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>{{'Contacts' | translate}}</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{sorted.phone}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>{{"Mobile" | translate}}</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{sorted.phone}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>{{"E-mail" | translate}}</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">{{sorted.email}}</p>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row padding-left padding-right style="padding-bottom: 6px; padding-top: 6px">
        <ion-col>{{'Address' | translate}}</ion-col>
        <ion-col>
            <p style="float: right; margin:0px; padding:0px">N/A</p>
        </ion-col>
    </ion-row>
    <hr>
</ion-content>
